.selected{
  background-color: #00862d!important;
  color:white;
}

.selected_1{
  background-color: #860064!important;
  color:white;
}

.act-btn{

  color:white;
  font-size: 2rem;
  font-weight: bold;
}
