<!-- div class container-fluid -->
<div class="container-fluid">
  <!-- div row -->
  <div class="row">
    <!-- div col-md-4 -->

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 logo-col">
          <!-- img from /assets/img/logo.png -->
          <img src="assets/img/logo.png" alt="logo" class="img-fluid logo">
        </div>
      </div>


      <!-- div card -->
      <div class="card">

        <!-- div card-header -->
        <div class="card-header">
          <!-- h4 card-title -->
          <h4 class="card-title">Ingresar al Sistema</h4>
        </div>
        <!-- /div card-header -->
        <!-- div card-body -->
        <div class="card-body">
         <!-- register user from -->
         <!-- user has rut,nombre,email,telefono,password -->

            <!-- div form-group -->
            <div class="form-group">
              <!-- label for="rut" -->
              <label for="rut">Rut</label>
              <!-- input type="text" class="form-control" id="rut" -->
              <input type="text" class="form-control" id="rut" formControlName="rut" placeholder="Ingrese su rut">
            </div>
            <!-- /div form-group -->
            <!-- div form-group -->
            <div class="form-group">
              <!-- label for="nombre" -->
              <label for="nombre">Nombre</label>
              <!-- input type="text" class="form-control" id="nombre" -->
              <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
            </div>
            <!-- /div form-group -->
            <!-- div form-group -->
            <div class="form-group">
              <!-- label for="email" -->
              <label for="email">Email</label>
              <!-- input type="email" class="form-control" id="email" -->
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingrese su email">
            </div>
            <!-- /div form-group -->
            <!-- div form-group -->
            <div class="form-group">
              <!-- label for="telefono" -->
              <label for="telefono">Telefono</label>
              <!-- input type="text" class="form-control" id="telefono" -->
              <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Ingrese su telefono">
            </div>
            <!-- /div form-group -->
            <!-- div form-group -->


            <!-- register button -->
            <div class="form-group">
              <!-- button type="submit" class="btn btn-primary" -->
              <button  style="float:right;" class="btn btn-primary register-btn" >Registrar</button>
            </div>

        </div>
        <!-- /div card-body -->
      </div>
      <!-- /div card -->
    </div>
    <!-- /div col-md-4 -->
  </div>
  <!-- /div row -->

</div>
