<div class="row">
  <div class="col-md-12 title">
    <!-- card with h3 title inside -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Lista de tipos de usuarios</h3>
      </div>
    </div>
  </div>
  <!-- table for usuarios -->
  <!-- usuarios has rut, nombre, apellido_paterno, apellido_materno, telefono, created_at, updated_at -->
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>

              <th>Nombre</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let type of user_types">

              <td>{{type.nombre}}</td>

              <td>
                <button class="btn btn-primary" (click)="editar(type)">Editar</button>
                <button class="btn btn-danger" (click)="eliminar(type)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
